.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.about-lg {
  width: 700px;
  height: 550px;
}

@media screen and (max-width: 567px) {
  .about-lg {
    display: none;
  }
}

.about-sm {
  width: 230px;
  height: 350px;
}

@media screen and (min-width: 768px) {
  .about-sm {
    display: none;
  }
}
