.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid lightgrey;
  padding: 10px 25px 10px 25px;
  width: 80%;
}
@media screen and (max-width: 567px) {
  .nav-container {
    height: 40px;
    padding: 10px 10px 10px 10px;
  }
}
.website-logo {
  width: 50px;
  height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 567px) {
  .website-logo {
    width: 40px;
    height: 40px;
  }
}

.trigger-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.close-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  object-position: top;
}
.menu-icon {
  width: 30px;
  height: 30px;
}
.nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}

.link-icons {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.routes-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Roboto';
  margin-bottom: 20px;
}
.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.close-icon {
  font-size: 25px;
  font-weight: bold;
}
